body {
    font-family: "Open Sans", sans-serif;
    background-color: #F7F7F7;
    color: #333;
    overflow-x: hidden;
}
header, footer {
    background-color: #3B5998;
    color: white;
    text-align: center;
    padding: 1em;
}
main {
    margin: 2em;
}
h1, h2 {
    font-family: "Roboto", sans-serif;
}