:root{
  --color1: #03045e;
  --color2: #0077b6;
  --color3: #00b4d8;
  --color4: #90e0ef;
  --color5: #caf0f8;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%; */
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

header {
  width: 100%;
  background-color: var(--color3);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  text-align: center;
  /* font-size: 5rem; */
}
header h1{
  margin: 0.1rem;
  font-size: 1.3rem;
  color: var(--color1);
}

nav{
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  /* align-items: center; */
}

nav a{
  color: var(--color1);
  padding: 10px 15px;
  /* font-size: 4rem; */
  text-decoration: none;

}

nav.show{
  display: flex;
}

nav a.active{
  /* text-decoration: underline; */
  font-weight: 650;
  /* font-size: 6rem; */
}



header nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
  font-weight: 470;
  margin-right: 0;
}

header h1 {
  padding: 1rem;
}

/* Hamburger menu styling and responsiveness */
#menu {
  display: block;
  font-size: 2rem;
  border: 0;
  background: none;
  color: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
}


#menu::before {
  content: "☰";
  color: var(--color1);
  font-weight: bold;
}

#menu.show::before {
  content: "X";
}

header.show h1 {
  display: none; 
}
ul li {
  list-style: none;
  /* display: none; */
}


.navigation a {
  display: block;
  padding: 0.7rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s, background-color 0.3s;
}

.navigation a.active{
  font-size: 1.1rem;
  color: var(--color1);
  background-color: white;
  border-radius: 3px;
  text-decoration: none;
}

/* .navigation a:not(.home).active{
  text-decoration: underline;
} */

.navigation a:hover:not(.active) {
  font-size: 1.1rem;
  color: var(--color1);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  /* text-decoration: underline; */
}


/* .navigation a:hover {
  font-size: 1.1rem;
  color: var(--color1);
  background-color: white;
  border-radius: 3px;
} */
/* .show .navigation a{
  display: block;
} */

.show .navigation li{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 6.5vh;
  text-align: center;
}


main {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;

}

.temple-card {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  background-color: #f0f0f0;
  padding: 2rem;
  margin: 0.1rem;
  /* width: 100%; */
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.temple-card img {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  object-fit: cover;
}

.res-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 425px) {

  .navigation a{
    display: none;
  }

  header{
    flex-direction: column;
    align-items: center;
  }
  header h1{
    text-align: left;
    justify-content: flex-start;
    font-size: 1.2rem;
    /* gap: 3rem; */
    margin-left: -7.5rem;
  }

  .navigation a li{
    /* margin: 0.3rem; */
    padding: 1rem;
    /* display: flex; */
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
  }

  .show .navigation a {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .navigation li a{
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
  }

  header.show h1 {
    display: none;
  }

  .temple-card img{
    display: block;
    justify-content: center;
    align-items: center;
  }
}



@media (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  .res-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .navigation {
    justify-content: space-around;
    list-style: none;
    display: flex;
    align-items: center;
  }
    #menu {
    display: none;
  }

}

@media (min-width: 900px) {
  main {
    grid-template-columns: repeat(3, 1fr); 
  }
  .res-grid{
    grid-template-columns: repeat(3, 1fr);
  }
  #menu {
    display: none;
  }
}



h2 {
  padding: 2rem;
  text-align: center;
  grid-column: 1 / -1;
}


footer {
  background-color: var(--color3);
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
}
