:root{
    --color1: #213555;
    --color2: #3E5879;
    --color3: #D8C4B6;
    --color4: #F5EFE7;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: var(--color4); */
    /* color: #333; */
    /* line-height: 1.6; */
}


header {
    background-color: var(--color1);
    color: var(--color4);
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    letter-spacing: 5px;
}


main {
    position: relative;
}

.line{
    background-color: var(--color3);
    width:100%;
    height: 15px;
}
.image-background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: -1;
}

.image-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px;
    margin-top: 20vh; 
}

.left-side{
    top: -10px;
    margin-top: -20%;
    width: 60%;
    /* font-size: 11rem; */
}
.left-side>h2{
    background-color: var(--color2);
    color: #fff;
    padding: 10px;
    position: relative;

}
.right-side{
    /* bottom: -70px; */
    width: 40%;
    height: 80%;
    margin-left: 60%;
    margin-top: 10%;
}

.right-side>h2{
    background-color: var(--color2);
    color: #fff;
    padding: 10px; 
}
.card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: transform 0.3s ease;
}
.data-grid{
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    /* justify-content: center; */
    text-align: center;
    /* align-items: center; */
}

.label{
    text-align: left;
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.value{
    text-align: right;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    font-family: 'DM Serif Text', serif;
    font-size: 1.8rem;
    margin-bottom: 15px;
}
h2 img{
    width: 50px;
}

ul {
    list-style-type: none;
    font-size: 1rem;
    line-height: 1.2;
}

ul li strong {
    color: #1d3557;
    /* display: flex; */
    /* flex: 1; */
    /* justify-content: center; */
    /* text-align: center; */
    /* align-items: center; */
    /* text-align: left; */
    /* flex-direction: column; */
    /* grid-template-columns: repeat(2, 1fr); */

}
.label{
    text-align: left;
    flex: 1;
}

.weather-icon {
    text-align: center;
    margin-bottom: 20px;
}

.weather-icon img {
    width: 70px;
    height: 70px;
}

footer {
    background-color: #1d3557;
    color: white;
    text-align: center;
    padding: 15px;
    /* margin-top: 20rem; */
}

footer p {
    margin: 5px;
}


@media (max-width: 768px) {
    .content-wrapper {
        grid-template-columns: 1fr;
    }
     .left-side{
        width: 100%;
        
     }
     .left-side>h2{
        text-align: center;
     }
     .right-side>h2{
       text-align: center;
     }
    .image-background-container {
        height: 100%; 
    }

    header h1 {
        font-size: 2rem; 
    }

    .card {
        padding: 15px;
    }

    .card h2 {
        font-size: 1.6rem;
    }

    ul li {
        font-size: 1rem;
    }
}