:root {
    --primary-color: #213555; /* Example color */
    --secondary-color: #3E5879; /* Example color */
    --h2-background-color: #D8C4B6; /* Example color for h2 background */
    --container-background-color: #f5efe7e1;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    /* width: 100%; */
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1em 0;
}

.baseline {
    background-color: var(--h2-background-color);
}

main {
    position: relative;
    top: 1.2rem;
}

.hero img {
    width: 100%;
    height: auto;
}

.data {
    background-color: var(--container-background-color);
    padding: 1em;
    max-width: 300px;
    /* border: 1px solid #ccc; */
    box-shadow: var(--primary-color) 0 0 10px;
    margin: 1.5em;
    /* left: -10px; */
}

.data h2 {
    background-color: var(--h2-background-color);
    color: var(--primary-color);
    margin: 1em 1em 1em -1em;
    padding: 0.75em;
    /* text-align: center; */
    position: relative;
    top: -1em;
    /* right: 0.em; */
    width: calc(70% + 2em);
}

.data-item {
    display: flex;
    justify-content: space-between;
    /* margin: 3rem; */
    padding: 0.5em 0;
    gap: 0.5rem;
    /* left: 10px; */
    color: var(--primary-color);
}


.label {
    text-align: right;
    flex: 1;
    font-weight: bold;
}

.value {
    text-align: left;
    flex: 1;
}

.weather {
    background-color: var(--container-background-color);
    padding: 1em;
    max-width: 400px;
    /* border: 1px solid #ccc; */
    box-shadow: var(--primary-color) 0 0 10px;
    margin: 1.5em;
    /* left: -10px; */
}

.weather h2 {
    background-color: var(--h2-background-color);
    color: var(--primary-color);
    /* margin: -1em -1em 1em -1em; */
    margin: 1em -1em 1em -1em;
    padding: 0.6em;
    text-align: center;
    position: relative;
    top: -1em;
    right: 0.5em;
    width: calc(60% + 2em);
    font-size: 1.2rem;
}

.weather h2::after {
    content: "⛅";
    margin-left: 0.5em;
}

.weather-icon {
    display: block;
    text-align: center;
    margin-top: 0.5em;
}


footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 0.9em;
}

footer p {
    margin: 1rem;
    font-size: 1.1rem;
}



@media (min-width: 768px) {
    .data {
        position: absolute;
        top: 0;
        left: 0;
    }

    .weather {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .weather-icon {
        display: inline;
    }

    .weather img{
        display: none;
    }
    hr{
        display: none;
    }

    
   
}

@media (max-width: 425px) {
    .data, .weather {
        background-color: transparent;
        border: none;
        box-shadow: none;
        /* max-width: 100%; */
        /* margin: 0; */
        /* padding: 0; */
    }

    .data h2, .weather h2 {
        background-color: transparent;
        color: var(--primary-color);
        margin: 0;
        /* padding: 1.5em; */
        width: 100%;
        position: static;
        text-align: center;
        font-size: 1.9rem;
    }

    .data-item {
        padding: 0.3em 0;
        margin: auto;
    }

    .data h2{
    text-align: center;
    }

    .weather{
        margin-top: 1rem;
        padding: 2rem;
        align-items: center;
        text-align: center;
        /* flex: 1; */


    }
    .weather h2::after {
        content: "";
    }

    .weather img{
        width: 100px;
        display: block;
        margin: 0.5rem auto;
        /* justify-content: center; */
        /* align-items: center; */
        }
    
    hr{
        /* justify-content: center; */
        opacity: 0.5;
    }

    footer{
        /* height: vh; */
        padding: 0.2rem;
    }


    footer p{
        /* margin: 5rem; */
        /* padding: 0.2rem; */
        font-size: 0.9rem;
    }
    
}
